@import './assets/fonts.css';
/* Color Scheme 1
Charcoal: #264653,
Persian Green: #2a9d8f,
Saffron: #e9c46a,
Sandy Brown: #f4a261,
Burnt Sienna: #e76f51 */

:root {
  --white: whitesmoke;
  --charcoal: #264653;
  --green: #2a9d8f;
  --saffron: #e9c46a;
  --brown: #f4a261;
  --sienna: #e76f51;
  font: 12pt "Open Sans", Arial;
  text-rendering: optimizeLegibility;
  background-color: var(--white);
  color: var(--charcoal);
  text-align: center;
}

table,
tr,
td,
th {
  border-collapse: collapse;
}

table {
  margin: auto;
}

h1,
#Profile {
  font: small-caps 2em "Concert One", sans-serif;
  color: var(--green);
}

/* th {
  font: small-caps 1.5em "Concert One", sans-serif;
  color: var(--green);
} */

hr {
  width: 100%;
  height: 2px;
  border: none;
  background-color: var(--charcoal);
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.topbar {
  min-height: 5vh;
  padding: 1rem 1rem 0rem 1rem;
  display: flex;
  align-items: space-evenly;
  font: small-caps bolder 3.2em "Concert One", sans-serif;
  font-size: 1.5em;
}

.topbar.item {
  padding: 0rem 1rem;
  vertical-align: middle;
}

#logo {
  height: 1.75em;
  padding: 0;
}

.page {
  min-width: 50vw;
  margin: 10px auto;
  min-height: 75vh;
}

#sidenav {
  width: 16%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-items: stretch;
  vertical-align: top;
}

#main-area {
  width: 83%;
  min-height: 75vh;
  vertical-align: top;
  padding: 0;
}

/*HOMEPAGE*/
#search-input {
  width: 100%;
  font: lighter 1.5em "Concert One";
  letter-spacing: 2pt;
  border-color: transparent;
  border-radius: 12px;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 8pt;
  outline: 2px solid var(--charcoal);
}

#search-input:focus {
  outline: 3px solid var(--saffron);
}

#sidenav button {
  border: 5px solid var(--saffron);
  border-radius: 12px;
  padding: 0.6em 1.2em;
  color: var(--charcoal);
  font-size: 1.25em;
  font-weight: 550;
  font-family: "Concert One";
  background-color: var(--white);
  cursor: pointer;
  transition: border-color, background-color 0.1s;
  margin: 0.5rem;
  min-width: 10em;
}

#sidenav button:hover,
#sidenav button:active {
  background-color: var(--saffron);
}

#sidenav button:active {
  box-shadow: inset;
}

#live-view {
  display: flex;
  vertical-align: top;
  width: 100%;
}

#filter-due {
  width: 30%;
  text-align: left;
  word-wrap: break-word;
  padding: 8pt 10pt;
}

#due-view {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#due-view div {
  border: 3px solid var(--green);
  padding: 8pt 10pt;
  max-width: 32%;
  aspect-ratio: 4/3;
  margin: 10pt;
  border-radius: 10pt;
}

.message-screen,
.loader {
  color: var(--sienna);
  font: small-caps 1.75em "Concert One", sans-serif;
}

.loader {
  margin: auto;
  width: fit-content;
  padding: 0 5px 8px 0;
  background: repeating-linear-gradient(90deg, currentColor 0 8%, #0000 0 10%) 200% 100%/200% 3px no-repeat;
  animation: l3 2.5s steps(6) infinite;
}

.loader:before {
  content: "Loading"
}

@keyframes l3 {
  to {
    background-position: 80% 100%
  }
}

.brand-logo {
  max-width: 75%;
  max-height: 150px;
}

#purchase-groups {
  border: 1pt solid var(--charcoal);
  display: flex;
  flex-wrap: wrap;
}
/* 
#purchase-groups div {
  border: 1px solid var(--charcoal);
  padding: 8pt 10pt;
  width: 10vw;
  font: small-caps 1.5em "Concert One", sans-serif;
  opacity: 0.8;
}

#purchase-groups div span {
  color:var(--sienna);
  font-size:larger;
} */

.purchase-group {
  border: 1px solid var(--charcoal);
  padding: 8pt 10pt;
  border-radius: 8pt;
  margin:0pt 8pt 8pt 0pt;
}

.purchase-stamp {
  border: 1px solid var(--charcoal);
  padding: 8pt 10pt;
}