@import './assets/fonts.css';
/* Color Scheme 1
Charcoal: #264653,
Persian Green: #2a9d8f,
Saffron: #e9c46a,
Sandy Brown: #f4a261,
Burnt Sienna: #e76f51 */

:root {
  --white: whitesmoke;
  --charcoal: #264653;
  --green: #2a9d8f;
  --saffron: #e9c46a;
  --brown: #f4a261;
  --sienna: #e76f51;
  font: 12pt "Open Sans", Arial;
  text-rendering: optimizeLegibility;
  background-color: var(--white);
  color: var(--charcoal);
  text-align: center;
}

table,
tr {
  border-collapse: collapse;
  border: 1px solid transparent;
  width: 100%;
  vertical-align: top;
}

td,
th {
  border-collapse: collapse;
  border: 1px solid var(--brown);
  width: fit-content;
}

h1 {
  font: small-caps 2em "Concert One", sans-serif;
  color: var(--green);
}

th {
  font: small-caps 1.5em "Concert One", sans-serif;
  color: var(--sienna);
}

hr {
  width: 100%;
  height: 2px;
  border: none;
  background-color: var(--charcoal);
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.topbar {
  min-height: 5vh;
  padding: 1rem 1rem 0rem 1rem;
  display: flex;
  align-items: space-evenly;
  font: small-caps bolder 3.2em "Concert One", sans-serif;
  font-size: 1.5em;
}

.topbar.item {
  padding: 0rem 1rem;
  vertical-align: middle;
}

#logo {
  height: 1.75em;
  padding: 0;
}

.page {
  min-width: 50vw;
  margin: 10px auto;
  min-height: 75vh;
}

#sidenav {
  width: 16%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-items: stretch;
}

#main-area {
  width: 83%;
  min-height: 75vh;
  vertical-align: top;
  padding: 0;
}

/*HOMEPAGE*/
#search-input {
  width: 100%;
  font: lighter 1.5em "Concert One";
  letter-spacing: 2pt;
  border-color: transparent;
  border-radius: 12px;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 8pt;
  outline: 2px solid var(--charcoal);
}

#search-input:focus {
  outline: 3px solid var(--saffron);
}

#sidenav button {
  border: 5px solid var(--saffron);
  border-radius: 12px;
  padding: 0.6em 1.2em;
  color: var(--charcoal);
  font-size: 1.25em;
  font-weight: 550;
  font-family: "Concert One";
  background-color: var(--white);
  cursor: pointer;
  transition: border-color, background-color 0.1s;
  margin: 0.5rem;
  min-width: 10em;
}

#sidenav button:hover,
#sidenav button:active {
  background-color: var(--saffron);
}

#sidenav button:active {
  box-shadow: inset;
}

#due-view {
  display: flex;
  vertical-align: top;
}

#filter-due,
#due-cards {
  padding: 5px 10px;
  vertical-align: auto;
  word-wrap: break-word;
}

#filter-due {
  width: 30%;
  text-align: left;
}

#due-cards {
  width: 100%;
}

#cust-name {
  color: var(--sienna);
}

.message-screen, .loader{
  color: var(--sienna);
  font: small-caps 1.75em "Concert One", sans-serif;
}

/* HTML: <div class="loader"></div> */
/* .loader {
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content:"Loading..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}} */

/* HTML: <div class="loader"></div> */
.loader {
  margin: auto;
  width: fit-content;
  padding: 0 5px 8px 0;
  background: repeating-linear-gradient(90deg,currentColor 0 8%,#0000 0 10%) 200% 100%/200% 3px no-repeat;
  animation: l3 2s steps(6) infinite;
}
.loader:before {
  content:"Loading"
}
@keyframes l3 {to{background-position: 80% 100%}}
